.product-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 1000px){
    .product-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 800px){
    .product-grid{
        grid-template-columns: 1fr;
    }
}